<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- DB에서 데이터 조회 또는 삽입 등에서 null값 허용 -->
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="callSettersOnNulls" value="true" />

		<!-- 동일한 select문이 또 요청되는 경우, 기존 캐시된 내용으로 가져옴. 속도향상 -->
		<setting name="cacheEnabled" value="true" />

		<!-- 테이블의 컬럼명과 VO 객체의 setter명의 연결 규칙을 설정 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />

	</settings>

	<!-- 경로 별칭을 사용하기 -->
	<typeAliases>
		<!-- 패키지 안에있는 클래스명으로만 쓸 수 있도록 alias가 자동으로 부여함. 첫글자 소문자/대문자 다 가능 -->
		<package name="com.example.domain" />
	</typeAliases>
	
</configuration>