<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ViewMemberMapper"> 

<select id="getCountBySearch" resultType="int">
	<![CDATA[
		SELECT COUNT(*) AS cnt 
		FROM board 
		WHERE member_id = #{id}
	]]>
		<if test="cri.type == 'subject'.toString()">
			AND subject LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'content'.toString()">
			AND content LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'memberId'.toString()">
			AND member_id LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
	
</select>



<select id="getBoardsWithPaging" resultType="boardVO">
	<![CDATA[
		SELECT * 
		FROM board 
		WHERE member_id = #{id}
	]]>
		<if test="cri.type == 'subject'.toString()">
			AND subject LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'content'.toString()">
			AND content LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'memberId'.toString()">
			AND member_id LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
	<![CDATA[
		ORDER BY re_ref DESC, re_seq ASC 
		LIMIT #{cri.startRow}, #{cri.amount} 
	]]>
</select>



<select id="getBoardAndAttaches" resultMap="boardAndAttaches">
	<![CDATA[
		SELECT b.num, b.member_id, b.subject, b.content, b.view_count, b.reg_date,
		       b.re_ref, b.re_lev, b.re_seq,
		       a.uuid, a.uploadpath, a.filename, a.filetype, a.board_num
		FROM board b LEFT OUTER JOIN attach a
		ON b.num = a.board_num
		WHERE b.member_id = #{id}
	]]>
</select>

<resultMap type="boardVO" id="boardAndAttaches">
	<id column="num" property="num" />
	<result column="member_id" property="memberId" />
	<result column="subject" property="subject" />
	<result column="content" property="content" />
	<result column="view_count" property="viewCount" />
	<result column="reg_date" property="regDate" />
	<result column="re_ref" property="reRef" />
	<result column="re_lev" property="reLev" />
	<result column="re_seq" property="reSeq" />
	<collection property="attachList" javaType="list" ofType="attachVO">
		<id column="uuid" property="uuid" />
		<result column="uploadpath" property="uploadpath" />
		<result column="filename" property="filename" />
		<result column="filetype" property="filetype" />
		<result column="board_num" property="boardNum" />
	</collection>
</resultMap>

<!-- =================================================================여기까지 내가 쓴 게시글 -->
<!-- =======================================여기부터 내가 쓴 댓글 -->

<select id="getCommentCountSearchingforMemberId" resultType="int">
	<![CDATA[
		SELECT COUNT(*) AS cnt 
		FROM comment 
		WHERE member_id = #{id}
	]]>
	<where>
		<if test="cri.type == 'content'.toString()">
			content LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'memberId'.toString()">
			member_id LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
	</where>
</select>

<select id="getCommentsByPaging" resultType="CommentVO">
	<![CDATA[
		SELECT * 
		FROM comment 
		WHERE member_id = #{id}
	]]>
		<if test="cri.type == 'content'.toString()">
			AND content LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
		<if test="cri.type == 'memberId'.toString()">
			AND member_id LIKE CONCAT('%', #{cri.keyword}, '%')
		</if>
	<![CDATA[
		ORDER BY reg_date
		LIMIT #{cri.startRow}, #{cri.amount} 
	]]>
</select>

	
	
</mapper>